.menu{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,91,234,1) 100%); 
}

#etudiant-part{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.name{
    font-weight: 500;
}

.options{
    background-color: #ffffff23;
    border-radius: 5px;
}