<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Notification</title>
    <!-- Link vers les fichiers Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Fichier CSS pour les icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid " style="margin-top: 20px; justify-content: center; width: 75%;">
        <div class="row" >
            <div class="col-7">
                  
                <div class="row " >
                    <div class="col-sm-12">
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" 
                                alt="avatar"
                                class="rounded-circle img-fluid" 
                                style="width: 20px;">
                            <a href="#">L'entreprise X a Lorem ipsum dolor sit amet. </a>
                            <div class="col-sm-12 text-right">
                                <small>Il y a 5 minutes</small>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
                
            
            
                <div class="row p-5 ">
                    <div class="col-sm-12">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <i class="fa fa-exclamation-triangle"></i> Si cette connexion n'était pas autorisée, veuillez changer immédiatement votre mot de passe et contacter notre support clientèle.
                        <div class="col-sm-12 text-right">
                            <small>Il y a 5 minutes</small>
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
