<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Navigation Bar</title>
</head>
<body>
    <nav>
      <nav class="navbar">
        <div class="nav-container">
          <div class="nav-logo">
            <a href="#">MaLogo</a>
          </div>
          <div class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="#" class="nav-link">Fiche de présence</a>
            </li>
            <li class="nav-item has-submenu">
              <a href="#" class="nav-link">Présence par matière</a>
              <ul class="submenu">
                <li><a href="#">Matière 1</a></li>
                <li><a href="#">Matière 2</a></li>
                <li><a href="#">Matière 3</a></li>
              </ul>
            </li>
            <li class="nav-item has-submenu">
              <a href="#" class="nav-link">Absence par matière</a>
              <ul class="submenu">
                <li><a href="#">Matière 1</a></li>
                <li><a href="#">Matière 2</a></li>
                <li><a href="#">Matière 3</a></li>
              </ul>
            </li>
            <li class="nav-item has-submenu">
              <a href="#" class="nav-link">Présence par jour</a>
              <ul class="submenu">
                <li><a href="#">Lundi</a></li>
                <li><a href="#">Mardi</a></li>
                <li><a href="#">Mercredi</a></li>
                <li><a href="#">Jeudi</a></li>
                <li><a href="#">Vendredi</a></li>
              </ul>
            </li>
            <li class="nav-item has-submenu">
              <a href="#" class="nav-link">Absence par jour</a>
              <ul class="submenu">
                <li><a href="#">Lundi</a></li>
                <li><a href="#">Mardi</a></li>
                <li><a href="#">Mercredi</a></li>
                <li><a href="#">Jeudi</a></li>
                <li><a href="#">Vendredi</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      
    <script src="app.js"></script>
</body>
</html>