<!DOCTYPE html>
<html>
<head>
    <title>Profil utilisateur</title>

    <!-- Inclusion de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="container.fluid mt-5">
        <!-- En-tête -->
        <div class="row justify-content-center ">
            <div class="col-7">
                <section style="background-color: #eee;">
                    <div class="container py-5">
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">Anicet Jonhia</h5>
                                <p class="text-muted mb-1">Full Stack Developer</p>
                                <p class="text-muted mb-4">Androhibe Antananarivo, 101</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button"  class="btn m-1 btn-primary"><a href="#" class="btn btn-primary text-white">CV</a></a></button>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card w-1 mb-4 mb-lg-0">
                            <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="#"><i class="fas fa-globe fa-lg text-warning"></i></a>
                                
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="#"><i class="fab fa-github fa-lg" style="color: #333333;"></i></a>
                                
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <a href="#"> <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i></a>
                                
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="#"><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i></a>
                                
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href=""><i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i></a>
                                
                                </li>
                            </ul>
                            </div>
                        </div>
                        </div>

                        

                        <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Nom et Prénoms</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">RANDRIANAMBININA Tokiniaina Jean Anicet Jonhia</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">anicet.randrianambinina@esti.mg</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Tel</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">0344822412</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Ecole</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Ecole Supérieure des Technologies de l'Information</p>
                                </div>
                            </div>
                            <hr>
                            
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <p class="mb-0">Addresse</p>
                                </div>
                                <div class="col-sm-9">
                                <p class="text-muted mb-0">Androhibe, Antananarivo  101, Madagascar</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4"><span class="text-primary font-italic me-1">Technologie</span>
                                    </p>
                                    <p class="mb-1" style="font-size: .77rem;">JavaScript</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">JSON</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">Bootstrap</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">React-native</p>
                                    <div class="progress rounded" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-4 mb-1" style="font-size: .77rem;">Laravel</p>
                                    <div class="progress rounded mb-2" style="height: 5px;">
                                        <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
             
                    <div class="row justify-content-center  m-1 text-center rounded-3">
                        <div class="col">
                            <a href="#">Mettre à jour</a>
                        </div>
                    </div>
                      
                </section>
            </div>
        </div>
    </div>

</body>
</html>		

