<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pch.css">
</head>
<body>
    <section class="sign-up">
		<div class="sign_box">
			<div class="left">
				<div class="contact">
					<form action="">
						<h1>Faite votre choix</h1>
						<button type="submit"><a href="Creer.html">ENTREPRISE</a></button>
                        <span>_____OU_____</span>
                        <button><a href="entreprise.html">ETUDIANT</a></button>
                           
                        
					</form>
				</div>
			</div>
			<div class="right">
				<div class="image">
                    <img src="index.jpeg" alt="">
                </div>
			</div>
		</div>
	</section>
</body>
</html>