<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome-page</title>
    
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="asset/css/menu.css">
    
</head>
<body>
<div class="container-fluid">
    <!--==================== MENU NAV BEGIN =========================-->
        <div class="row " class="mh-100" style="height: 625px;">
            <div class="col-2 bg-secondary">
                <div class="row mt-2">
                    <div class="col-2">
                        <img src="./asset/img/user.png" alt="user_image" style="width: 30px; height: 30px;">
                    </div>
                    <div class="col-10 pt-1 text-light">
                        <h6 id="user_full_name">Full name</h6>  
                    </div> 
                </div>
                <div class="row mt-4">
                    <div class="col-2 pt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark text-light " viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg></div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-ligh text-light">User page</button>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-2 pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel text-light" viewBox="0 0 16 16">
                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
                        </svg>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-ligh text-light">School rules</button>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-2 pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up text-light" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                        </svg>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-ligh text-light">States</button>
                    </div>
                </div>
                
                <div class="row position-absolute bottom-0 start-0 mb-5">   
                    <div class="col-2 pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download text-light" viewBox="0 0 16 16">
                            <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                            <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                        </svg>
                    </div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-ligh text-light">Log out</button>
                    </div>
                </div>
            </div> 
<!--==================== MENU NAV END =========================-->

<!--==================== TITLE BEGIN =========================-->
            <div class="col-10">
                <div class="row">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center pt-1">WELCOME TO AB.MANAGER</h2>
                        </div>
                    </div>
<!--==================== TITLE END =========================-->

<!--==================== CONTENT PRINCIPAL BEGIN =========================-->
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3">
                                    <button>
                                        <div row>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                                                <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                                              </svg>
                                        </div>
                                        <div class="row">
                                            <h5>Check yor presence</h5>
                                        </div>
                                        <div class="row">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum asperiores veniam iure, saepe nisi est blanditiis.
                                            </p>
                                            
                                        </div>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button>
                                        <div row>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                                                <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
                                              </svg>
                                        </div>
                                        <div class="row">
                                            <h5>Get yor presence state</h5>
                                        </div>
                                        <div class="row">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem?
                                            </p>
                                        </div>
                                    </button>
                                </div>
                                <div class="col-3">
                                    <button>
                                        <div row>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </div>
                                        <div class="row">
                                            <h5>Analyse your presence frequecy</h5>
                                        </div>
                                        <div class="row">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, dolorem?
                                            </p>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--==================== CONTENT PRINCIPAL END =========================-->
        </div>
    </div>
</body>
</html>