<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="choix.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix</title>
</head>
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="">
						<h1>Vous êtes de quellle entité ?</h1>
						<button class="signupent" action="https://c8f3-154-126-79-169.eu.ngrok.io/">Entreprise</button>
						<span>_____ou_____</span>
						<button class="signupetu" action="https://c8f3-154-126-79-169.eu.ngrok.io/">Etudiant</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="image">
                    <img src="index.jpeg" alt="">
                </div>
			</div>
		</div>
	</section>
</body>
</html>
