<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resultat.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>resultat</title>
</head>
<body>
    <div class="scroll-result fw-bolder">
        <li class="result">
            <img src="user.png" alt="logo-enterprise" class="photo"/>
            <span class="name">Malcovys</span>
            <span>Etudiant</span>
            <span>L2</span>
            <button class="btn-profil">Voir le profil</button>
        </li>
        <li class="result">
            <img src="user.png" alt="logo-enterprise" class="photo"/>
            <span>Nom</span>
            <span>Entreprise</span>
            <span>Null</span>
            <button class="btn-profil">Voir le profil</button>
        </li>
    </div>
</body>
</html>