<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="">
						<h1>Welcome</h1>
						<input type="text" name="username" placeholder="Username"/>
						<input type="password" name="password" placeholder="Password"/>
						<button class="submit" action="https://c8f3-154-126-79-169.eu.ngrok.io/">SING IN</button>
						<span>_____or_____</span>
						<button class="signup" action="https://c8f3-154-126-79-169.eu.ngrok.io/">SING UP</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="image">
                    <img src="index.jpeg" alt="">
                </div>
			</div>
		</div>
	</section>
</body>
</html>
