<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="entreprise.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entreprise creation de compte</title>
</head>
<body>
	<section class="signent-up">
		<div class="sign_box">
			<div class="left">
				<div class="contact">
					<form action="">
						<h1>Entreprise</h1>
                        <p>Nom</p>
						<input type="text" name="nom" placeholder=""/>
                        <p>Adreese email</p>
						<input type="email" name="email" placeholder=""/>
						<p>Desciption</p>
                        <input type="text" name="desciption" placeholder=""/>
                        <p>Mot de passe</p>
                        <input type="text" name="mdp" placeholder=""/>
						<p>Inserer votre logo</p>
                        <input type="image" name="image" placeholder=""/>
						<button class="submit" action="https://c8f3-154-126-79-169.eu.ngrok.io/">SING UP</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="image">
                    <img src="index.jpeg" alt="">
                </div>
			</div>
		</div>
	</section>
</body>
</html>
