<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carte étudiant</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    
    <div class="container-fluid mt-5 ">
        <div class="row justify-content-center  ">
            <div class="col-7 d-flex py-5" style="border-radius: 5px ; box-shadow: 0x 10px 9px -5px blue; box-shadow: 2px 2px 1px 1px blue;">
                
                <div class="titre">
                    <h4 class="nom">RANDRIANAMBININNA</h4>
                    <h4 class="prenom">Tokiniaina Jean Anicet Jonhia</h4>
                    <div class="row ">
                        <div class="col d-flex">
                            <i class="fa-regular fa-envelope mr-3"></i>
                            <a href="#">nom@esti.mg</a>
    
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        Actuellement en deuxième année de licence  à  l'<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi25ues9Kv9AhUIg1wKHRU6DYsQFnoECBYQAQ&url=https%3A%2F%2Ffr-fr.facebook.com%2FEstiMadagascar%2F&usg=AOvVaw3hMzDF1j0S0IAEQwJnosX2">ESTI</a>.
                        <hr>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cumque repudiandae ratione!
                    </div>
                </div>
        
                <div class="img-box ml-100">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;"/>
                </div>
        
            </div>
            

          
        </div>
    </div>
    

</body>
</html>
