<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Sboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>EntBoard</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mh-100 board">
            <div class="col-2 menu">
                <div class="row pt-2 student-content">
                    <div class="col-2">
                        <img src="" alt="" style="width: 30px; height: 30px;"/>
                    </div>
                    <div class="col-10 pt-1 text-light">
                        <h6 id="user_full_name name">Nom entreprise</h6>  
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="options">
                            <button type="button" class="btn btn-outline-ligh text-light">Avis  
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <div class="options">
                            <button type="button" class="btn btn-outline-ligh text-light">Demandes</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <div class="options">
                            <button type="button" class="btn btn-outline-ligh text-light">Publier un poste</button>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-1">   
                    <div class="col-12">
                        <div class="options">
                            <button type="button" class="btn btn-outline-ligh text-light">Liste étudiants</button>
                        </div>
                    </div>
                </div>
                <div class="row position-absolute bottom-0 start-2 mb-5 ml-2-">   
                    <div class="col-12">
                        <div class="options">
                            <button type="button" class="btn btn-outline-ligh text-light">Déconnection</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>