.menu{
    background-color: rgb(34, 91, 155);
}

#etudiant-part{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.name{
    font-weight: 500;
}

.options{
    background-color: #ffffff23;
    border-radius: 5px;
}

.board{
    height: 655px;
}